*{
  margin: 0;
  padding: 0;
}
.NavBar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  

}

.NavBar a {
  margin-left: 16%;
  color: #377bba;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
}

.NavBar a:hover {
 
  color: black;
}

.NavBar a.active {
  background-color: #2d077e;
  color: white;
}

.Footer {
  margin-top: 132%;
  width: 100%;
  height: 120px;
  background-color: black;
  color: #377bba;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}
